{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hugues Roland EBENE - DevOps Engineer spécialisé dans AWS, Terraform, CI/CD et Big Data">
    <title>Hugues Roland EBENE - DevOps Engineer</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- En-tête avec photo de profil et introduction -->
    <header class="header-section">
        <div class="container">
            <!-- Image de profil et texte d'introduction -->
            <img src="{% static 'css/IMG_2367.jpg' %}" alt="Photo de Hugues Roland EBENE" class="profile-pic">
            <h1>Hugues Roland EBENE</h1>
            <p>DevOps Engineer | Data Engineer </p>

            <!-- Menu de navigation -->
            <nav>
                <ul>
                    <li><a href="#profil">Profil</a></li>
                    <li><a href="#parcours-academique">Parcours Académique</a></li>
                    <li><a href="#experiences">Expériences</a></li>
                    <li><a href="#certifications">Certifications</a></li>
                    <li><a href="#projets">Mes Projets</a></li>
                    <li><a href="#competences">Compétences</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Section Profil -->
    <section id="profil" class="section">
        <div class="container">
            <h2>Profil</h2>
            <p>Ingénieur DevOps et Data, je suis diplômé de l'Efrei, l'école du numérique, avec un diplôme d'ingénieur
                informatique (2023) 🎓. Fort d'une formation en DevOps, j'ai développé une expertise solide en
                infrastructure cloud, CI/CD, et automation, en me spécialisant sur des environnements comme AWS et
                Terraform.
            </p>
            <p>
                Passionné par l'informatique, je suis constamment à la recherche d'innovations dans le domaine de
                l'automatisation et de l'optimisation des systèmes d'information. Cette passion s'étend aussi aux
                mathématiques appliquées, domaine dans lequel je mène des recherches visant à résoudre des
                problématiques complexes à travers des modèles mathématiques.
            </p>
            <p>
                Mon parcours me permet d'allier la rigueur scientifique des mathématiques à l'efficacité des pratiques
                DevOps, et j'aspire à devenir Architecte Cloud, avec une approche intégrant à la fois la technologie et
                la science des données.</p>
        </div>
    </section>
    <!-- Section Parcours Académique -->
    <section id="parcours-academique" class="section">
        <div class="container">
            <h2>Parcours Académique</h2>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="timeline-icon">1</div>
                    <div class="timeline-content">
                        <h3>Datascientest</h3>
                        <span>(2024)</span>
                        <p>Bootcamp DevOps, Administration des systèmes Linux.</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-icon">2</div>
                    <div class="timeline-content">
                        <h3>EFREI Paris</h3>
                        <span>(2021 - 2023)</span>
                        <p>Cycle ingénieur informatique mention Big Data et Machine Learning.</p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">3</div>
                    <div class="timeline-content">
                        <h3>Université de Douala</h3>
                        <span>(2016 - 2022)</span>
                        <p>Cycle licence, master, et doctorat mention Mathématiques Appliquées aux Sciences de
                            l'Ingénieur.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Section Expériences -->
    <section id="experiences" class="section">
        <div class="container">
            <h2>Expériences</h2>
            <div class="timeline">
                <!-- Enseignant vacataire -->
                <div class="timeline-item">
                    <div class="timeline-icon">1</div>
                    <div class="timeline-content">
                        <h3>Enseignant vacataire - ESILV ELMV - CDD</h3>
                        <span>Janvier 2024 - Juillet 2024</span>
                        <ul>
                            <li>Manipulation d'outils avancés d'analyse, incluant l'intégrale de Lebesgue dans le cadre
                                de
                                l'analyse de Fourier.</li>
                            <li>Application de la transformation de Fourier pour l'étude et la résolution des équations
                                différentielles ordinaires (EDO) et partielles (EDP).</li>
                        </ul>
                    </div>
                </div>

                <!-- DevOps Engineer -->
                <div class="timeline-item">
                    <div class="timeline-icon">2</div>
                    <div class="timeline-content">
                        <h3>DevOps Engineer - NEERO - Stage</h3>
                        <span>Mars 2023 - Mars 2024</span>
                        <ul>
                            <li>Automatisation des processus et des déploiements dans le cloud AWS en utilisant les
                                outils
                                de CI/CD et Terraform pour l'Infrastructure as Code.</li>
                            <li>Architecture, évolution et maintenance des systèmes liés aux applications.</li>
                            <li>Automatisation des tâches récurrentes au sein de l'équipe.</li>
                            <li>Amélioration des stacks techniques et participation à l'évolution du système de
                                déploiements.</li>
                        </ul>
                    </div>
                </div>

                <!-- Data Engineer -->
                <div class="timeline-item">
                    <div class="timeline-icon">3</div>
                    <div class="timeline-content">
                        <h3>Data Engineer - DATAIDRAW - Stage</h3>
                        <span>Avril 2023 - Septembre 2023</span>
                        <ul>
                            <li>Intégration des outils CI/CD dans le workflow pour automatiser la collecte de données
                                par
                                web scraping.</li>
                            <li>Développement de scripts Python pour l'extraction de données web et interaction avec les
                                données stockées sur AWS.</li>
                            <li>Gestion des données : fusion, nettoyage et formatage des bases de données.</li>
                            <li>Automatisation des tâches à l'aide des outils CI/CD intégrés dans le processus de
                                développement.</li>
                            <li>Création et maintenance de scripts conteneurisés pour le déploiement.</li>
                            <li>Mise en place d'un système d'alertes via email et Slack.</li>
                        </ul>
                    </div>
                </div>

                <!-- Data Scientist -->
                <div class="timeline-item">
                    <div class="timeline-icon">4</div>
                    <div class="timeline-content">
                        <h3>Data Scientist - Conseil Régional d'Île-de-France - Stage</h3>
                        <span>Novembre 2021 - Mars 2022</span>
                        <ul>
                            <li>Analyse des données sur la fluctuation du trafic routier pendant la pandémie de
                                COVID-19.</li>
                            <li>Analyse des données de l'application Waze pour comprendre les irrégularités de trafic
                                dans certaines communes.</li>
                            <li>Création de tableaux de bord de reporting avec Power BI.</li>
                            <li>Utilisation d'algorithmes de Machine Learning (NLP) pour thématiser les jeux de données.
                            </li>
                            <li>Utilisation de Postman pour envoyer des requêtes HTTP et extraire des données.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Section Certifications -->
    <section id="certifications" class="section">
        <div class="container">
            <h2>Certifications</h2>
            <div class="certifications-container">
                <!-- Certification AWS -->
                <div class="certification">
                    <img src="{% static 'css/image_aws.png' %}" alt="AWS Certified Solutions Architect - Associate">
                    <ul>
                        <li><strong>Certification :</strong> AWS Certified Solutions Architect - Associate</li>
                        <li><strong>Date d'obtention :</strong> Avril 2024</li>
                        <li><strong>Description :</strong> Conception et déploiement d'architectures évolutives et
                            sécurisées sur AWS.</li>
                    </ul>
                </div>

                <!-- Certification Terraform -->
                <div class="certification">
                    <img src="{% static 'css/image_harchicorp.png' %}" alt="HashiCorp Certified: Terraform Associate">
                    <ul>
                        <li><strong>Certification :</strong> HashiCorp Certified: Terraform Associate</li>
                        <li><strong>Date d'obtention :</strong> Mars 2024</li>
                        <li><strong>Description :</strong> Automatisation de l'infrastructure via Infrastructure as Code
                            avec Terraform.</li>
                    </ul>
                </div>

                <!-- Certification Azure -->
                <div class="certification">
                    <img src="{% static 'css/DP_300.png' %}" alt="Microsoft Azure DP300">
                    <ul>
                        <li><strong>Certification :</strong> Microsoft Azure DP203</li>
                        <li><strong>Date d'obtention :</strong> Mais 2023</li>
                        <li><strong>Description :</strong> Analyse de données et intégration d'applications cloud avec
                            Microsoft Azure.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- Section Projets -->
    <section id="projets" class="section">
        <div class="container">
            <h2>Mes Projets</h2>
            <div class="projets-grid">
                <div class="projet-card">
                    <h3><a href="https://github.com/Hugues4049/Mon-projet-de-visualisation" target="_blank">Mon projet
                            de visualisation</a></h3>
                    <p>Ce projet vise à créer une application web pour visualiser les données YouTube d'un utilisateur à
                        l'aide de Streamlit. Il permet d'analyser des informations telles que les musiques les plus
                        écoutées et les artistes les plus suivis.</p>
                </div>
                <div class="projet-card">
                    <h3><a href="https://github.com/Hugues4049/Terraform-project1" target="_blank">Terraform Project
                        </a></h3>
                    <p>Ce projet consiste à construire, déployer et automatiser le déploiement d'un site web WordPress
                        en utilisant Terraform, en mettant l'accent sur l'automatisation et la gestion de
                        l'infrastructure.</p>
                </div>
                <div class="projet-card">
                    <h3><a href="https://github.com/Hugues4049/CI_WITH_GITHUB" target="_blank">CI avec GitHub
                            Actions</a></h3>
                    <p>Un projet démontrant l'intégration continue en utilisant GitHub Actions pour automatiser les
                        workflows de développement, y compris les tests et le déploiement.</p>
                </div>
                <div class="projet-card">
                    <h3><a href="https://github.com/Hugues4049/DjangoApp" target="_blank">Déploiement d'une application
                            Django</a></h3>
                    <p>Déploiement d'une application Django sur AWS en utilisant ECS (Elastic Container Service) et ECR
                        (Elastic Container Registry) pour une mise en production scalable et optimisée.</p>
                </div>
                <div class="projet-card">
                    <h3>Création d'une application web éducative</h3>
                    <p>Développement d'une application dédiée aux élèves de 6 à 10 ans pour faciliter l'apprentissage de
                        l'anglais à travers un système d'intelligence artificielle ludique.</p>
                </div>
                <div class="projet-card">
                    <h3>Pipeline Azure Data Factory</h3>
                    <p>Création d'un pipeline de transfert de données pour analyser les données financières avec l'API
                        de Yahoo, en utilisant les services cloud d'Azure.</p>
                </div>
            </div>
        </div>
    </section>




    <!-- Section Compétences -->
    <!-- Section Compétences -->
    <section id="competences" class="section">
        <div class="container">
            <h2>Compétences</h2>
            <div class="competences-grid">
                <div class="competence-card">
                    <h3>Cloud Computing</h3>
                    <p>Au-delà de AWS, je suis curieux autour des autres cloud provider : AZURE, Oracle OCI, Google GCP
                        et OVH pour le cloud web. J’ai aussi travaillé sur un sujet de migration Cloud.</p>
                </div>
                <div class="competence-card">
                    <h3>Infrastructure as Code</h3>
                    <p>Je maîtrise les technologies d’IaC depuis que j’ai commencé ma carrière. Terraform(dont je suis
                        certifié) pour
                        commencer, puis Helm et Ansible après. J’ai récemment compris le fonctionnement de Vault
                        .</p>
                </div>
                <div class="competence-card">
                    <h3>CI/CD</h3>
                    <p>J’ai développé diverses pipelines CI/CD avec GitHub Actions et AWS codepipeline pendant mon
                        stage,
                        GitLab CI et Jenkins chez DataIdraw et NEERO. Je suis un fervent partisan de l’automatisation et
                        c’est ce
                        que j’utilise pour mon blog.</p>
                </div>
                <div class="competence-card">
                    <h3>Programmation</h3>
                    <p>

                        J'ai développé une solide expertise en Python, Bash, et Scala, qui me permettent de créer des
                        scripts et d'automatiser des tâches complexes dans divers environnements.</p>
                </div>
                <div class="competence-card">
                    <h3>Big Data & Data Engineering</h3>
                    <p>Mon expertise en Hadoop, Spark, Kafka, et HDFS me permet de traiter et d'analyser des données à
                        grande échelle de manière efficace. </p>
                </div>
                <div class="competence-card">
                    <h3>Bases de données</h3>
                    <p>J'ai acquis une solide expérience dans la gestion de bases de données avec MongoDB, MySQL, et
                        PostgreSQL.</p>
                </div>
            </div>
        </div>
    </section>




    <!-- Section Contact -->
    <section id="contact" class="section">
        <div class="container">
            <h2>Contact</h2>
            <div class="contact-icons">
                <a href="mailto:titoebene@gmail.com" target="_blank" title="Email">
                    <img src="{% static 'css/img/mail.png' %}" alt="Email">
                </a>
                <a href="https://github.com/Hugues4049" target="_blank" title="GitHub">
                    <img src="{% static 'css/github.png' %}" alt="GitHub">
                </a>
                <a href="https://www.linkedin.com/in/roland-ebene-67473220b" target="_blank" title="LinkedIn">
                    <img src="{% static 'css/link.png' %}" alt="LinkedIn">
                </a>
                <a href="https://www.instagram.com/your_instagram" target="_blank" title="Instagram">
                    <img src="{% static 'css/insta.jpeg' %}" alt="Instagram">
                </a>
                <a href="https://twitter.com/your_twitter" target="_blank" title="X (Twitter)">
                    <img src="{% static 'css/X.png' %}" alt="X">
                </a>
                <a href="https://wa.me/+33695802306" target="_blank" title="WhatsApp">
                    <img src="{% static 'css/whatsap.png' %}" alt="WhatsApp">
                </a>
                <a href="tel:+33695802306" title="Téléphone">
                    <img src="{% static 'css/tel.png' %}" alt="Téléphone">
                </a>
            </div>
        </div>
    </section>


    <!-- Pied de page -->
    <footer>
        <div class="container">
            <p>© 2024 Hugues Roland EBENE. Tous droits réservés.</p>
        </div>
    </footer>
</body>

</html>