{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hugues Roland EBENE - DevOps Engineer spécialisé dans AWS, Terraform, CI/CD et Big Data">
    <title>Hugues Roland EBENE - DevOps Engineer</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>

<body>
    <!-- En-tête avec photo de profil et introduction -->
    <header class="header-section">
        <div class="container">
            <!-- Image de profil et texte d'introduction -->
            <img src="{% static 'images/IMG_2367.jpg' %}" alt="Photo de Hugues Roland EBENE" class="profile-pic">
            <h1>Hugues Roland EBENE</h1>
            <p>DevOps Engineer | Data Engineer | Msc Applied Mathematics</p>

            <!-- Menu de navigation -->
            <nav>
                <ul>
                    <li><a href="{% url 'profil' %}">À propos de moi</a></li>
                    <li><a href="{% url 'parcours_academique' %}">Parcours Académique</a></li>
                    <li><a href="{% url 'experiences' %}">Expériences</a></li>
                    <li><a href="{% url 'certifications' %}">Certifications</a></li>
                    <li><a href="{% url 'projets' %}">Projets</a></li>
                    <li><a href="{% url 'competences' %}">Compétences</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>



        </div>
    </header>



    <!-- Section Contact -->
    <section id="contact" class="section">
        <div class="container">
            <h2>Contact</h2>
            <div class="contact-icons">
                <a href="mailto:titoebene@gmail.com" target="_blank" title="Email">
                    <img src="{% static 'icons/mail.png' %}" alt="Email">
                </a>
                <a href="https://github.com/Hugues4049" target="_blank" title="GitHub">
                    <img src="{% static 'icons/github.png' %}" alt="GitHub">
                </a>
                <a href="https://www.linkedin.com/in/roland-ebene-67473220b" target="_blank" title="LinkedIn">
                    <img src="{% static 'icons/link.png' %}" alt="LinkedIn">
                </a>
                <a href="https://www.instagram.com/your_instagram" target="_blank" title="Instagram">
                    <img src="{% static 'icons/insta.jpeg' %}" alt="Instagram">
                </a>
                <a href="https://twitter.com/your_twitter" target="_blank" title="X (Twitter)">
                    <img src="{% static 'icons/X.png' %}" alt="X">
                </a>
                <a href="https://wa.me/+33695802306" target="_blank" title="WhatsApp">
                    <img src="{% static 'icons/whatsap.png' %}" alt="WhatsApp">
                </a>
                <a href="tel:+33695802306" title="Téléphone">
                    <img src="{% static 'icons/tel.png' %}" alt="Téléphone">
                </a>
            </div>
        </div>
    </section>


    <!-- Pied de page -->
    <footer>
        <div class="container">
            <p>© 2024 Hugues Roland EBENE. Tous droits réservés.</p>
        </div>
    </footer>
</body>

</html>